.chat {
  min-height: 500px;
  height: calc(100vh - 200px);

  &__messages {
    height: calc(100% - 100px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    .message {
      padding: 10px;
      border-radius: 10px;
      max-width: 80%;
      width: max-content;
      background-color: rgba(#007bfa, 0.6);
      margin: 10px 0;
      display: flex;
      flex-direction: column;

      &--right {
        margin-left: auto;
      }

      &__info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;

        span:first-child {
          margin-right: 5px;
        }
      }
    }
  }

  &__form {
    height: 100px;
    display: flex;
    flex-direction: row;

    textarea {
      resize: none;
      height: 100%;
      width: calc(100% - 100px);
    }

    .btn {
      padding: 0;
      height: 100%;
      width: 100px;
    }
  }
}
